
.text{
	font-family: "Helvetica", Helvetica, sans-serif;
	font-size: 80%;
}

.main{
     margin: auto;
     top: 0;
     right: 0;
     bottom: 0;
     left: 0;
     text-align: center;
}


body.index{
   background-image: url("coffee_book.jpg");
   background-repeat: no-repeat;
	background-size: cover;
	background-position: left top; 
	font-family: "Helvetica", Helvetica, sans-serif;
	font-size: 80%;
		


}


h1{
	margin-top: 1rem;
	font-family: "Helvetica", Helvetica, sans-serif;
	font-size: 150%;
}

#index{
	margin-top: 2rem;
	font-size: 200%;
}

fieldset{
	padding: 3em;
	margin-top: 5em;
	margin-left: 10em;
	margin-right: 10em;
	border-radius: 20px;
	border: 1px groove;
	background: rgba(185, 185, 185, 0.5)

}

a:link, a:visited {
    background-color: rgba(206,95,78);
    color: white;
    padding: 10px 20px;
    text-align: center; 
    text-decoration: none;
    display: inline-block;
	border-radius:20px; 
	 margin-bottom: 10px;  
	 opacity: 0.8;


}

a:hover, a:active {
    background-color: rgba(251,63,0);
}
