@import url('https://fonts.googleapis.com/css?family=Pacifico');


.text{
	font-family: "Helvetica", Helvetica, sans-serif;
	font-size: 80%;
}

#main{
	 margin: auto;
     text-align: center;
     width:200px;
     background-color:black;
     opacity:0.5;
     padding: 20px 20px;

}


body.index{
   background-image: url("coffee_book.jpg");
   background-repeat: no-repeat;
	background-size: cover;
	background-position: left top; 
	font-family: "Helvetica", Helvetica, sans-serif;
	font-size: 80%;
		


}


h1{
	margin-top: 1rem;
	font-family: "Pacifico";
	
}

#index{
	margin-top: 2rem;
	font-size: 200%;
}

a:link, a:visited {
    background-color: rgba(206,95,78);
    color: white;
    padding: 10px 20px;
    text-align: center; 
    text-decoration: none;
    display: inline-block;
	border-radius:20px; 
	 margin-bottom: 10px;  


}

a:hover, a:active {
    background-color: rgba(251,63,0);
}

#nav-menu {
  margin: auto;
  text-align: center;
  background-color:black;
  width: 212px;
  opacity:0.8;
}

#nav-menu ul
 {list-style-type:none;
  margin:0px;
  padding:0px}

#nav-menu ul a
{text-decoration:none;
 border:1px solid #303030;
 width:170px;
 display:block;
 text-align:center;
 font-size:14pt;
 line-height:2em;
 border-radius:0px;
 margin-bottom:0px;
 background-color:url(Images/Buttons/Button_top.gif) repeat-x left;
 font-family:Arial, Helvetica, sans-serif;
 color:white}

#nav-menu ul ul
{display:none} 

body.blog #nav-menu ul ul.blog, 
body.web #nav-menu ul ul.web
{display:block}

#nav-menu ul li{position:relative}

#nav-menu ul li:hover ul
{display:block;
 position:absolute;
 left:214px;
 top:0px;}

#nav-menu ul ul li a
{border:1px solid #888888;
 border-bottom: none;
 font-size:12pt;
 line-height: 1.6em;
 color:#303030;
 background-color:#a5a5a5;
 background-image:none;}


td{
     border-width:1px;  
    border-style:groove;
}